.nav-item:hover {
  background-color: #2f3030;
  border-radius: 8px;
}

.a-cardtext {
  color: #2f3030;
  text-decoration: none;
}

.a-cardtext:hover,
.card:hover {
  color: #fff;
  background-color: #2f3030;
}

.logo {
  background-color: #fff;
}

.img-pengertian,
.img-pembagian-register,
.img-sejarah,
.img-rangkaian-komponen,
.img-register-data {
  width: 40%;
}

.img-encoder,
.img-simbol-decoder,
.img-simbol-register-data,
.img-simbol-register-geser,
.img-simbol-pencacah {
  width: 60%;
}

.img-multiplexer,
.img-demultiplexer,
.img-decoder,
.img-rangkaian-register-geser,
.img-pencacah {
  width: 80%;
}

.topics-sejarah,
.referensi {
  margin: 3px;
}
