.nav-item:hover {
  background-color: #2f3030;
  border-radius: 8px;
}

.a-cardtext {
  color: #2f3030;
  text-decoration: none;
}

.a-cardtext:hover,
.card:hover {
  color: #fff;
  background-color: #2f3030;
}

.logo {
  background-color: #fff;
}

.img-pengertian,
.img-pembagian-register,
.img-sejarah,
.img-rangkaian-komponen,
.img-pengertian-sisBil,
.img-pengertian-gerlog,
.img-register-data,
.img-biner,
.img-tabel-soal-kombinasional,
.img-40 {
  width: 40%;
}

.img-encoder,
.img-simbol-decoder,
.img-simbol-register-data,
.img-simbol-register-geser,
.img-simbol-pencacah,
.img-penjumlahan-biner,
.img-sop,
.img-simbol-full-adder,
.img-realisasi-decoder,
.img-tabel-ff-sr,
.img-60 {
  width: 60%;
}

.img-multiplexer,
.img-demultiplexer,
.img-decoder,
.img-rangkaian-register-geser,
.img-pencacah,
.img-simbol-and,
.img-tabel-and,
.img-simbol-or,
.img-tabel-or,
.img-basis-bilangan,
.img-80 {
  width: 80%;
}

.topics-sejarah,
.referensi {
  margin: 3px;
}
